@use "base/colors.scss";

#carousel {
  display: flex;
  width: 80rem;
  flex-direction: row;
}

#carousel {
  .area {
    width: 12rem;
    height: 15rem;
    background-color: colors.$blue;
    margin: 1rem;
    border-radius: 10px;
    align-items: center;
    position: relative;
  }

  .areaheader {
    font-size: 1.3em;
    text-align: left;
    margin-top: 0rem;
  }

  .areadescription {
    text-align: left;
    padding: 0rem 1rem 1rem 1rem;
    margin-top: 0;
    letter-spacing: 0.001rem;
    word-spacing: 0.01px;
    line-height: 1.4rem;
    color: colors.$white;
    font-size: 0.9rem;
  }

  button {
    position: absolute;
    left: 0;
    right: 0;
    top: 72%;
    margin: auto;
  }
  .area1 {
    background-color: colors.$bluelight;
  }
  .area2 {
    background-color: colors.$orange;
  }
  .area3 {
    background-color: colors.$lightgrey;
  }
  .area4 {
    background-color: colors.$blue;
  }
  .area5 {
    background-color: colors.$mediumgrey;
  }
}
