header {
}
nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.11765);
  justify-content: space-between;
  padding: 1.875rem 2.5rem;
}

.burger-menu {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: 0 0;
  border: none;
  display: flex;
  position: relative;
  width: 1rem;
  height: 1.25rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  align-items: center;
}

body {
  background-color: rgba(22, 21, 43, 0.95);
}
