@use "base/colors";

nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.11765);
  justify-content: space-between;
  padding: 1.875rem 2.5rem;
}

.burger-menu {
  display: block;
  position: relative;

  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.burger-menu span {
  display: block;
  width: 1.6rem;
  height: 2px;
  margin-bottom: 6px;
  position: relative;
  background: #cdcdcd;
  border-radius: 1px;
}

footer {
  border-top: 1px solid hsla(0, 0%, 100%, 0.11765);
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0rem;
}

.footer-links a {
  padding-bottom: 1.3rem;
}

.footer-extra-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  a {
    padding-bottom: 0.4rem;
  }
}

section {
  padding: 1rem;
  border-top: 1px solid hsla(0, 0%, 100%, 0.11765);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.11765);
}
